@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import "variables";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*------------------------------------------------------Style del index----------------------------------------------------------------------*/

.bodyIndex{
    background-color: $color-principal;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
    transform: translateY(30px);
}

.headerUno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.heaH5{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    margin-left: 10px;
}


.headerPrincipal{
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
} 

.headerUno{
    .regist{
        margin-right: 10px;
        li{
            font-family: 'Rajdhani', sans-serif;
        }
        a:hover{
            text-decoration: underline gold;
        }
    }
}

.navPrincipal{
    text-align: center;
        a{
            padding: 10px;
            border-left: 3px solid gold;
            border-right: 3px solid gold;
            border-collapse: collapse;
            font-family: 'Abel', sans-serif;
        }
        a:hover{
            text-decoration: underline gold;
        }
}

.navIndex{
    transform: translateY(-25px);
}

.videoPage1{
    text-align: center;
    margin-top: 70px;
    iframe{
        border: 1px solid gold;
    }
}

.videoPag2{
    display: flex;
    flex-direction: row;
        .videoPage2-1{
            iframe{
                border: 1px solid gold;
                margin-top: 70px;
                margin-left: 200px;
            }
        }
        .videoPage3{
            iframe{
                border: 1px solid gold;
                margin-top: 170px;
                margin-left: 90px;
            }
        }
} 

.footerPrincipal{
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
        nav{
            img{
                height: 20px; width: 20px;
                margin-left: 2px; margin-right: 2px;
                margin-top: 50px;
            }
            .footerContactanos{
                height: 23px; 
                width: 23px;
                margin-right: 10px;
            }
        }
}

/*------------------------------------------------------ GRID INDEX  ---------------------------------------------------------------------*/

.gridIndex {
    display: grid;
    grid-template-rows: 9% auto auto auto 40px auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: "header header header"
    "titulo titulo titulo"
    "videoPage1 videoPage1 videoPage1"
    "videoPag2 videoPag2 videoPag2"
    "boots boots boots"
    "footer footer footer";
}

.headerPrincipal {
    grid-area: header;
}

.titulo {
    grid-area: titulo;
}

.videoPage1 {
    grid-area: videoPage1;
}

.videoPag2 {
    grid-area: videoPag2;
}

.footerPrincipal {
    grid-area: footer;
}

.dropdown{
    grid-area: boots;
    text-align: center;
    margin-top: 30px;
}

/*----------------------------------------------------------- MediaQuerie Index ----------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .headerPrincipal{
        width: 100%;
    }
    
    .headerUno{
        display: flex;
        flex-direction: row;
    }

    .navPrincipal{
        margin-top: 30px;
    }

    .titulo{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 0;
        transform: translateY(50px);
    }

    .videoPag2{
        display: flex;
        flex-direction: column;
        align-items: center;
            iframe{
            width: 250px; 
            height: 250px;
            }
    }

    .videoPage2-1{
        display: block;
        transform: translateX(-100px);
        margin-top: 2px;
        margin-left: 7px;
    }

    .videoPage3{
        display: block;
        margin-top: -100px;
        margin-left: 20px;
        transform: translateX(-50px);
    }
}

/*-------------------------------------------Style de la subpagina "registrarse"----------------------------------------------------------------*/

.bodyRegis{
    background-color: $color-subpaginas-regist;
    text-align: center;
    color: white;
}

.h1Regis{
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

.formRegis{
    font-family: 'Rajdhani', sans-serif;
    select{
        option{
            color: black;
            margin: 10px 0px;
        }
    }
    input{
        color: black;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold;
        margin: 10px 0px;
    }
}

.crearCuenta{
    width: 120px;
    margin-left: 46%;
    h2{
        font-family: 'Bebas Neue', cursive;
        border: 2px solid gold;
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.h3Regis{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.snRegis{
    margin-top: 10px;
    margin-bottom: 12px;
}

.edad{
    margin-top: 15px;
    text-align: center;
}

.selecEdad{
    margin-top: 15px;
}


.footerRegis{
    a{
        padding: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        img{
            color: black;
            background-color: gold;
            text-decoration: none;
            list-style-type: none;
            margin: 0px;
        }
    }
    h6{
        font-family: 'Rajdhani', sans-serif;
        text-align: right;
        margin-bottom: 2px;
        margin-top: 0px;
        margin-right: 7px;
    }
}

.logoGnr{
    animation: rebotar 2s;
}

@keyframes rebotar{
    50% {
        transform: scaleY(0.25);
    }
    50%{
        transform: scaleX(0.25);
    }
}

@media screen and (max-width: 480px){
.crearCuenta{
    h2{
        transform: translateX(-45px);
    }    
}  
    
.edad & .h3Regis{
    text-align: center;
}
}

/*-----------------------------------------------Style de la subpagina "inicar sesion"----------------------------------------------------------*/

.bodyIniciarSesion {
    background-color: $color-subpaginas-regist;
    margin: 20px 20px;
    color: white;
    text-align: center;
}

.h1Sesion{
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.formSesion{
    label{
        margin-left: 5px;
        margin-top: 50px;
        margin-bottom: 25px;
        font-family: 'Rajdhani', sans-serif;
    }
    input{
        font-family: 'Rajdhani', sans-serif;
        color: black;
        font-weight: bolder;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.cuentaNueva{
    margin: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    h4{
        font-family: 'Rajdhani', sans-serif;
    }
    a{
        font-family: 'Bebas Neue', cursive;
    }
}

/*--------------------------------------------Style de la subpagina "contactanos"---------------------------------------------------------------*/

.bodyContact{
    background-color: $color-subpaginas-regist;
    text-align: center;
    color: white;
}

.h1Contact{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.formContact{
    font-family: 'Rajdhani', sans-serif;
        input{
            color: black;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        label{
            textarea{
                color: black;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
}

.lObserv{
    margin-top: 20px;
    margin-bottom: 20px;
}

.inpEnRes{
    input{
        margin-top: 10px;
        margin-bottom: 10px;
    }
} 

/*---------------------------------------------------Header de todos los demas html-------------------------------------------------------------*/

.headerSecundario{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: $color-headers;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.guns{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}

.contact{
    h3{
        text-align: right;
        color: white;
        font-family: 'Rajdhani', sans-serif;
        font-size: 20px;
        margin-right: 10px;
    }
}

.bi-caret-left & .bi-caret-right{
    color: white;
}


@media screen and (max-width: 480px){
    .guns{
        font-size: 20px;
    }
    
    .bi-caret-left & .bi-caret-right{
        color: gold;
    }

    .navVideos{
        transform: translateY(-15px);
        a{
            border: none;
        }
    }
}

