@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*------------------------------------------------------Style del index----------------------------------------------------------------------*/

.bodyIndex{
    background-color: rgb(54, 54, 54);
}

.titulo{
    font-family: 'Dancing Script', cursive;
    color: black;
    display: block;
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
}

.headerUno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.headerUno h5{
    font-family: 'Rajdhani', sans-serif;
    color: white;
    margin-left: 10px;
}

.headerPrincipal li{
    list-style-type: none;
}

.headerPrincipal a{
    text-decoration: none;
    color: white;
}

.headerUno .regist li{
    font-family: 'Rajdhani', sans-serif;
}

.regist {
    margin-right: 10px;
}

.navPrincipal{
    text-align: center;
}

.navPrincipal a{
    padding: 10px;
    border-left: 3px solid gold;
    border-right: 3px solid gold;
    border-collapse: collapse;
    font-family: 'Abel', sans-serif;
}

.navPrincipal a:hover{
    text-decoration: underline gold;
}

.regist a:hover{
    text-decoration: underline gold;
}

.videoPage1{
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: center;
}

.videoPage1 .historyMusic{
    color: rgb(118, 22, 126);
    font-family: 'Koulen', cursive;
    border: 2px solid white;
    height: auto; width: auto;
    padding: 15px;
    background-image: url(https://rockfm-cdnmed.agilecontent.com/resources/jpg/1/7/1625225554471.jpg);
    text-shadow: 2px gold;
}

.videoPage1 .historyMusic2{
    color: rgb(118, 22, 126);
    font-family: 'Koulen', cursive;
    border: 2px solid white;
    height: auto; width: auto;
    padding: 15px;
    background-image: url(https://e.rpp-noticias.io/normal/2015/12/29/323332_54051.jpg);
    text-shadow: 2px gold;
}

.videoPag2{
    display: flex;
    flex-direction: row;
}

.videoPag2 .videoPage2-1 iframe{
    border: 1px solid gold;
    margin-top: 70px;
    margin-left: 200px;
}

.videoPag2 .videoPage3 iframe{
    border: 1px solid gold;
    margin-top: 170px;
    margin-left: 90px;
}

.footerPrincipal{
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
}


.footerPrincipal nav img{
    height: 20px; width: 20px;
    margin-left: 2px; margin-right: 2px;
    margin-top: 50px;
}

.footerPrincipal nav .footerContactanos{
    height: 23px; 
    width: 23px;
    margin-right: 10px;
}


/*------------------------------------------------------ GRID INDEX  ---------------------------------------------------------------------*/
.gridIndex {
    display: grid;
    grid-template-rows: 9% auto auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: "header header header"
    "titulo titulo titulo"
    "videoPage1 videoPage1 videoPage1"
    "videoPag2 videoPag2 videoPag2"
    "footer footer footer";
}

.headerPrincipal {
    grid-area: header;
}

.titulo {
    grid-area: titulo;
}

.videoPage1 {
    grid-area: videoPage1;
}

.videoPag2 {
    grid-area: videoPag2;
}

.footerPrincipal {
    grid-area: footer;
}

/*-------------------------------------------------------- MediaQuerie Index -----------------------------------*/

@media screen and (max-width: 468px) {
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .headerPrincipal{
        width: 100%;
    }
    
    .headerUno{
        display: flex;
        flex-direction: row;
    }

    .navPrincipal{
        margin-top: 30px;
    }

    .titulo{
        margin-top: 30px;
        text-align: center;
    }

    .videoPage1{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .videoPage1 iframe{
        height: 250px; width: 250px;
    }

    .videoPage1 .historyMusic{
        padding: 5px;
    }

    .videoPage1 .historyMusic2{
        padding: 5px;
    }

    .videoPag2{
        display: block;
    }

    .videoPage2-1{
        display: block;
        transform: translateX(-100px);
        margin-top: 2px;
        margin-left: 7px;
    }

    .videoPage3{
        display: block;
        margin-top: -100px;
        margin-left: 20px;
    }

    .videoPag2 iframe{
        width: 250px; height: 250px;
    }

    /* .gridIndex Media {

        display: grid;
        grid-template-rows: 50px 50px 70px 300px 250px 250px 50px;
        grid-template-columns: auto;
        grid-template-areas: "arriba"
        "header"
        "titulo"
        "historia"
        "video1"
        "video2"
        "footer";
    }
    
    .headerUno {
        grid-area: arriba;
    }
    
    .navPrincipal{
        grid-area: header;
    }

    .titulo {
        grid-area: titulo;
    }
    
    .videoPage1 {
        grid-area: historia;
    }
    
    .videoPage2-1 iframe{
        grid-area: video1;
    }
    
    .videoPage3 iframe{
        grid-area: video2;
    }

    .footerIndex {
        grid-area: footer;
    }
*/


}




/*-------------------------------------------Style de la subpagina "registrarse"----------------------------------------------------------------*/

.bodyRegis{
    background-color: black;
    text-align: center;
    color: white;
}

.h1Regis{
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

.formRegis{
    font-family: 'Rajdhani', sans-serif;
}

.crearCuenta{
    width: 120px;
    margin-left: 46%;
}

.crearCuenta h2{
    font-family: 'Bebas Neue', cursive;
    border: 2px solid gold;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.formRegis select option{
    color: black;
    margin: 10px 0px;
}

.formRegis input{
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    margin: 10px 0px;
}

.h3Regis{
    margin-top: 20px;
    margin-bottom: 10px;
}

.snRegis{
    margin-top: 10px;
    margin-bottom: 12px;
}

.edad{
    margin-top: 15px;
}

.selecEdad{
    margin-top: 15px;
}

.footerRegis a img{
    color: black;
    background-color: gold;
    text-decoration: none;
    list-style-type: none;
    margin: 0px 0px;
}

.footerRegis a{
    padding: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.footerRegis h6{
    font-family: 'Rajdhani', sans-serif;
    text-align: right;
    margin-bottom: 2px;
    margin-top: 0px;
    margin-right: 7px;
}

.logoGnr{
    animation: rebotar 2s;
}
@keyframes rebotar{
    50% {
        transform: scaleY(0.25);
    }
    50%{
        transform: scaleX(0.25);
    }
}


/*-----------------------------------------------Style de la subpagina "inicar sesion"----------------------------------------------------------*/

.bodyIniciarSesion{
    background-color: black;
    margin: 20px 20px;
    color: white;
    text-align: center;
}

.h1Sesion{
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.formSesion label{
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Rajdhani', sans-serif;
}

.formSesion input{
    font-family: 'Rajdhani', sans-serif;
    color: black;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cuentaNueva{
    margin: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cuentaNueva h4{
    font-family: 'Rajdhani', sans-serif;
}

.cuentaNueva a{
    font-family: 'Bebas Neue', cursive;
}

/*--------------------------------------------Style de la subpagina "contactanos"---------------------------------------------------------------*/

.bodyContact{
    background-color: black;
    text-align: center;
    color: white;
}

.h1Contact{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
}

.formContact{
    font-family: 'Rajdhani', sans-serif;
}

.lObserv{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formContact input{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inpEnRes input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.formContact label textarea{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*---------------------------------------------------Header de todos los demas html-------------------------------------------------------------*/

.headerSecundario{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: black;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

.guns{
    color: white;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}

.headerSecTitulo{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline rgb(188, 164, 23);
}

.contact a{
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}



/*--------------------------------------------------Style del "integrantes"---------------------------------------------------------------------*/
.integHead{
    margin-right: 90px;
}

.bodyIntegrantes{
    background-color: rgb(54, 54, 54);
    margin: 0;

}

.antesDespues ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 30px;
}

.antesDespues ul{
    text-align: center;
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
}

.antesDespues ul li a{
    text-decoration: none;
    border: 5px solid gold;
    padding: 10px;
    color: white;
}

.antesDespues a:hover{
    background-color: gold;
}

.imgInteg{
    display: inline-block;
}

.imgInteg img{
    height: 400px; 
    width: 400px;
    border: 1px solid white;
    margin-top: 30px;
}

.imgInteg .img1{
    margin-left: 360px;
}

.footInt{
    margin-top: 20px;
}

/*-----------------------------------------------------Style de "integrantes,1985/actual--------------------------------------------------------*/

.left ul{
    text-align: left;
}

.integrantes85Head a{
    text-decoration: none;
    color: white;
}

.left ul .backGold a{
    background-color: gold;
    font-family: 'Anton', sans-serif;
    color: #000;
}

.left ul .backGold{
    margin-left: 20px;
}
.left ul .backGold3{
    margin-left: 20px;
}

.left ul .backGold2 a{
    background-color: gold;
    font-family: 'Anton', sans-serif;
    color: #000;
}

.integ85-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.integ85-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.integPasado img{
    height: 200px; width: 200px;
    border: 1px solid gold;
    transition: all 1s;
}

.integPasado img:hover{
    height: 400px; width: 400px;
    border: 1px solid gold;
}

.integPasado h2{
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    color: white;
}

/*-----------------------------------------------------Style de "integrantes actual--------------------------------------------------------*/

.integrantesActualHead a{
    text-decoration: none;
    color: white;
}

.integrantesActual h2{
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    color: white;
}

.integActual1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.integActual2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.integrantesActual img{
    height: 200px; width: 200px;
    border: 1px solid gold;
    transition: all 1s;
}

.integrantesActual img:hover{
    height: 200px; width: 200px;
    border: 1px solid gold;
    height: 400px; width: 400px;
    border: 1px solid gold;
}

/*-------------------------------------------------------------Style de "Media"-----------------------------------------------------------------*/


.bodyMedia{
    background-color: rgb(54, 54, 54);
    margin: 0;
}

.phvd ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.phvd ul li a{
    text-decoration: none;
    border: 5px solid gold;
    padding: 10px;
    font-family: 'Anton', sans-serif;
}

.phCAmarillo a{
    background-color: gold;
    color: black;
    margin-left: 20px;
}

.vdCAmarillo a{
    color: black;
}

.vd2CAmarillo a{
    background-color: gold;
    color: black;
}

.ph2CAmarillo a{
    color: black;
    margin-left: 30px;
}

.photos h4{
    color: white;
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
}

.photos img{
    width: 216px; height: 236px;
    margin: 40px;
    border: 1px solid gold;
    transition: all 1s;
}

.photos img:hover{
    height: 600px; width: 600px;
    text-align: center;
    border: 1px solid gold;
}


/*-------------------------------------------------------------Style de "MediaVideos"-----------------------------------------------------------*/


.mediaVideos img{
    height: 600px; width: 600px;
    border: 1px solid gold;
    margin-left: 250px;
    margin-top: 30px;
}

.mediaVideos h2{
    margin-left: 70px;
    margin-top: 20px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.ritz img{
    border: 1px solid gold;
    margin-top: 20px;
    margin-left: 30px;
}

.mediaVideos h3{
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.sweetChild h3{
    text-align: center;
    margin-right: 150px;
}

.sweetChild h2{
    text-align: center;
    margin-right: 150px;
}

.sweetChild img{
    height: 450px; width: 600px;
    border: 1px solid gold;
    margin-left: 250px;
    margin-top: 20px;
}

.sweetChild1 img{
    height: 450px; width: 600px;
    border: 1px solid gold;
    margin-left: 650px;
    margin-top: 20px;
}

.sweetChild1 h3{
    text-align: right;
    margin-right: 300px;
}

.sweetChild1 h2{
    text-align: right;
    margin-right: 300px;
}

/*----------------------------------------------- GRID Fotos------------------------------------------------------------------------------------*/

.gridFotos{
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 80px 100px 350px 350px 400px 350px 400px 350px 70px;
    grid-template-areas: "header header header"
    "navegacion navegacion navegacion"
    "oklahoma oklahoma oklahoma"
    "lincoln lincoln lincoln"
    "hong hong hong"
    "moscow moscow moscow"
    "houston houston houston"
    "toronto toronto toronto"
    "footer footer footer";
}

.headerFotos{
    grid-area: header;
}

.phvd{
    grid-area: navegacion;
}

.oklahoma{
    grid-area: oklahoma;
}

.imgO{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.lincoln{
    grid-area: lincoln;
}

.imgL{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hong{
    grid-area: hong;
}

.imgH{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.moscow{
    grid-area: moscow;
}

.imgM{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.houston{
    grid-area: houston;
}

.imgHou{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.toronto{
    grid-area: toronto;
}

.imgT{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footerFotos{
    grid-area: footer;
}


/*--------------------------------------------------------Style de tour-------------------------------------------------------------------------*/


.bodyTour{
    background-color: rgb(54, 54, 54);
}

.tour22 h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: wheat;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.pais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyTour h4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyTour h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.argentina{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.argentina:hover{
    background-color: rgb(65, 63, 63);
}

.argentina a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.argentina a:hover{
    background-color: lightblue;
    color: #000;
}

.argentina h2{
    font-family: 'Anton', sans-serif;
    color: lightblue;
    margin-right: 10px;
}


.brasil{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.brasil:hover{
    background-color: rgb(65, 63, 63);
}

.brasil a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.brasil a:hover{
    background-color: greenyellow;
    color: #000;
}

.brasil h2{
    font-family: 'Anton', sans-serif;
    color: greenyellow;
    margin-right: 10px;
}


.uruguay{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.uruguay:hover{
    background-color: rgb(65, 63, 63);
}

.uruguay a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.uruguay a:hover{
    background-color: blue;
    color: #000;
}

.uruguay h2{
    font-family: 'Anton', sans-serif;
    color: blue;
    margin-right: 10px;
}

.peru{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.peru:hover{
    background-color: rgb(65, 63, 63);
}

.peru a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.peru a:hover{
    background-color: red;
    color: #000;
}

.peru h2{
    font-family: 'Anton', sans-serif;
    color: red;
    margin-right: 10px;
}

.colombia{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.colombia:hover{
    background-color: rgb(65, 63, 63);
}

.colombia a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.colombia a:hover{
    background-color: yellow;
    color: #000;
}

.colombia h2{
    font-family: 'Anton', sans-serif;
    color: yellow;
    margin-right: 10px;
}

.mexico{
    margin-top: 15px;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.mexico:hover{
    background-color: rgb(65, 63, 63);
}

.mexico a{
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
    border: 2px solid gold;
    padding: 10px;
}

.mexico a:hover{
    background-color: rgb(6, 178, 6);;
    color: #000;
}

.mexico h2{
    font-family: 'Anton', sans-serif;
    color: rgb(6, 178, 6);
    margin-right: 10px;
}

/*.gridTour{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 150px 100px 100px 100px 100px 100px 100px 70px;
    grid-template-areas: "header"
    "titulo"
    "argentina"
    "brasil"
    "uruguay"
    "perua"
    "colombia"
    "mexico"
    "footer";
}

.headerTour{
    grid-area: header;
}

.tour22{
    grid-area: titulo;
}

.argentina{
    grid-area: argentina;
}

.brasil{
    grid-area: brasil;
}

.uruguay{
    grid-area: uruguay;
}

.peru{
    grid-area: perua;
}

.colombia{
    grid-area: colombia
}

.mexico{
    grid-area: mexico;
}

.footTour{
    grid-area: footer;
    margin-bottom: 40px;
    margin-right: 20px;
} */

/*-------------------------------------------------------------Media de Tour -------------------------------------------------------------------*/

@media screen and (max-width: 468px){

    .guns{
        font-size: 25px;
    }

    .integHead{
        margin-left: 50px;
    }

.tour22{
    transform: translateY(-20px);
    margin-bottom: 10px;
}

.argentina{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 0;
}
.brasil{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 10px;
}

.uruguay{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 10px;
}

.peru{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 10px;
}


.colombia{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 10px;
}


.mexico{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin-top: 10px;
}

/*.gridTour{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: ;
    grid-template-areas: "header"
    "titulo"
    "argentina"
    "brasil"
    "uruguay"
    "perua"
    "colombia"
    "mexico"
    "footer";
}

.headerTour{
    grid-area: header;
}

.tour22{
    grid-area: titulo;
}

.argentina{
    grid-area: argentina;
}

.brasil{
    grid-area: brasil;
}

.uruguay{
    grid-area: uruguay;
}

.peru{
    grid-area: perua;
}

.colombia{
    grid-area: colombia;
}

.mexico{
    grid-area: mexico;
}

.footTour{
    grid-area: footer;
    margin-bottom: 40px;
    margin-right: 20px;
}*/
}

/*Style de discografia*/

.bodyDiscografia{
    margin: 0px;
    background-color: rgb(54, 54, 54);
}

.disco{
    margin-right: 75px;
}

.discografia{
    margin-top: 40px;
    color: white;
}

.primeros4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.segundos4{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.discografia img{
    height: 200px;
    width: 200px;
    transition: all 1s;
}

.discografia img:hover{
    height: 600px; width: 600px;
    text-align: center;
    border: 1px solid gold;
}

.discografia h4{
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 10px;
}
